.Line1{
    display: grid;
    grid-template-rows: auto;
    /*align-content: center;*/
    /*border: 1px solid red;*/
    width: 99vw;
}

.userName{
    height: auto;
    /*border: 1px solid red;*/
    color: white;
    text-align: center;
    font-family: "Arial";
    font-size: 25px;
    /*text-shadow: 0 0 10px #64ff00,*/
    /*0 0 20px #64ff00,*/
    /*0 0 40px #64ff00,*/
    /*0 0 80px #64ff00,*/
    /*0 0 120px #64ff00;*/
}

.divImgInfo{
    /*height: 3vh;*/
    display: grid;
    justify-items: end;
}
.imgInfo{
    width: 7%;
    /*border: 1px solid red;*/
}