.Option{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid gray;
    border-radius: 15px 15px 0 0;
    width: 80vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    background-color: #7e7e7e;
    opacity: 80%;
}

.First, .Second, .Third{
    text-align: center;
    color: white;
    align-self: center;
    height: 90%;
    border-right: 2px solid #b4b4b4;
}
.Second{

}
.Third{

}
.Fourth{
    text-align: center;
    color: white;
    align-self: center;
    height: 90%;
}

.Earn{
    width: 40%;
}