.Invite {
    background-color: black;
    height: 100vh;
    width: 100vw;
    /*border: 2px solid greenyellow;*/
    position: absolute;
    color: white;
    display: grid;
    padding: 2%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.DivLinkInvite{
    /*border: 1px solid green;*/
    background-color: #1f1f1f;
    border-radius: 15px;
    opacity: 80%;
    width: 80vw;
    /*height: 25vh;*/
    display: grid;
    position: absolute;
    top: 14vh;
    left: 10vw;
    grid-template-rows: auto;
    padding: 3vw;
    align-content: center;
    /*justify-content: center;*/
}

.Title{
    /*border: 1px solid red;*/
    font-weight: bolder;
    text-align: center;
    font-size: 5vw;
    display: grid;
    align-content: center;
}


.TwoBtns{
    display: grid;
    align-content: center;
    justify-content: center;
    /*border: 1px solid red;*/
    padding: 3.4vw;
}

.BtnShare {
    /*border: 1px solid red;*/
    border-radius: 10px;
    height: 9vw;
    width: 60vw;
    background-color: rgba(131, 131, 131, 0.57);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    color: white;
    font-size: 5vw;

}

.Frens{
    background-color: #1f1f1f;
    border-radius: 15px;
    opacity: 80%;
    width: 80vw;
    height: 25vh;
    position: absolute;
    top: 42vh;
    left: 10vw;
    padding: 3vw;
}

.divImg{
    /*border: 1px solid red;*/
    display: grid;
    align-content: center;
    justify-items: center;
}
.Img{
    width: 50%;
}
.taskFrens{
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 2vw;
}
.coinsForFren{
    /*border: 1px solid red;*/
    padding: 2vw;
}
.Coins{
    font-family: DS-Digital;
    font-size: 5vw;
    color: #FFA800;
}

/*.Link{*/
/*    !*border: 1px solid red;*!*/
/*    display: grid;*/
/*    align-content: center;*/
/*    justify-items: center;*/
/*    justify-self: center;*/
/*    background-color: #3d3d3d;*/
/*    opacity: 80%;*/
/*    border-radius: 5px;*/
/*    width: 63vw;*/
/*    height: 7vw;*/
/*    padding: 1vw;*/
/*    font-size: 4vw;*/
/*    font-weight: lighter;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*}*/

/*.divBtnCopyLink, .divShare{*/
/*    !*border: 1px solid red;*!*/
/*    width: 95%;*/
/*    display: grid;*/
/*    align-content: center;*/
/*    justify-items: center;*/
/*    background-color: #ececec;*/
/*    border-radius: 5px;*/
/*    height: 7vw;*/
/*    color: #1f1f1f;*/
/*}*/