.Earn {
    /*border: 1px solid green;*/
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    color: white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.Main{
    /*border: 1px solid red;*/
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    height: 75vh;
    width: 90vw;
    position: absolute;
    top: 5vh;
    left: 5vw;
 }

.Earns{
    /*border: 2px solid red;*/
    width: 80vw;
    /*height: 80%;*/
    display: grid;
    grid-template-rows: auto;
    /*position: absolute;*/
    top: 36vh;
    overflow: auto;
    align-content: start;
    padding: 3vw;
}
.Earns::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.Task{
    bottom: 0;
    background-color: #1f1f1f;
    border-radius: 15px;
    opacity: 80%;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    margin: 1vw;
    padding: 2vw;
}

.DivImgTask{
    /*border: 1px solid red;*/
    display: grid;
    justify-items: center;
    align-content: center;
}
.ImgTask{
    /*border: 1px solid blue;*/
    width: 8vw;
}

.ImgCoin{
    /*border: 1px solid blue;*/
    width: 70%;
}

.BodyEran{
    /*border: 1px solid red;*/
    display: grid;
    /*align-content: center;*/
}
.TaskText{
    /*border: 1px solid red;*/
    /*border: 1px solid blue;*/
    padding: 8px;
    font-size: 3.5vw;
}
.CoinQuantity{
    display: grid;
    grid-template-columns: 20% 80%;
}
.divCoin{
    /*padding: 10%;*/
    /*display: grid;*/
    align-content: center;
    /*border: 1px solid red;*/
}
.divUpCoin{
    color: #FFA800;
    font-size: 6vw;
    font-weight: bolder;
    font-family: DS-Digital;
    /*border: 1px solid red;*/
    display: grid;
    align-content: end;
    /*padding: 10%;*/
}
.divBtnClaim{
    display: grid;
    align-content: center;
    justify-items: center;
    /*border: 1px solid red;*/
    /*padding-bottom: 3vw;*/
}
.BtnClaim{
    background-color: green;
    font-size: 2vh;
    font-weight: bold;
    width: 80%;
    height: 3.5vh;
    border-radius: 30px;
    opacity: 80%;
    margin: 4px;

    /*background: #54bc3e;*/
    /*background: -moz-linear-gradient(top,  #54bc3e 0%, #aee850 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54bc3e), color-stop(100%,#aee850));*/
    /*background: -webkit-linear-gradient(top,  #54bc3e 0%,#aee850 100%);*/
    /*background: -o-linear-gradient(top,  #54bc3e 0%,#aee850 100%);*/
    /*background: -ms-linear-gradient(top,  #54bc3e 0%,#aee850 100%);*/
    /*background: linear-gradient(to bottom,  #54bc3e 0%,#aee850 100%);*/

}
.BtnClaim:before{

}

.divGetMoreImg{
    /*border: 1px solid red;*/
    display: grid;
    align-content: center;
    justify-items: center;
    /*padding: 3vw;*/
}
.GetMoreCoinsImg{
    /*border: 1px solid red;*/
    /*position: absolute;*/
    /*display: grid;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*top: 8vh;*/
    /*left: 40vw;*/
    width: 35%;
    opacity: 80%;
}
.textGetMoreCoins{
    text-align: center;
    /*border: 1px solid red;*/
    font-weight: bold;
    font-size: 3vh;
    padding: 2vw;

}

.Soon{
    color: #FFA800;
    font-weight: bold;
    font-size: 5vh;
    position: absolute;
    width: 100%;
    /*left: 5vw;*/
    /*border: 1px solid red;*/
    text-align: center;
    bottom: 15vh;
}








.NavBack{
    /*border: 2px solid greenyellow;*/
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 10px;
}
.Goback {
    /*border: 2px solid greenyellow;*/
    /*position: absolute;*/
    width: 100px;
    /*height: 30px;*/
    border-radius: 20px;
    /*left: 10px;*/
    /*top: 10px;*/
}