body {
    overflow: hidden;
}
.Black {
    height: 99vh;
    width: 99vw;
    background-color: black;
    /*border: 1px solid #00ff15;*/
    align-self: center;
    opacity: 70%;
}

.StartPage {
    color: white;
    background-size: 90vw;
    background-color: black;
    background-image: url("../resource/mask.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    /*border: 3px solid red;*/
    height: 100vh;
    width: 100vw;
    /*display: grid;*/
    /*position: absolute;*/
}
.btn{
    background-color: #54bc3e;
    width: 20vw;
    position: absolute;
    top: 10vh;
    left: 40vw;
}

.Congrats{
    color: #ececec;
    border: 5px solid red;
    text-align: center;
    display: grid;
}
.StartMining {
    /*border: 1px solid red;*/
    position: absolute;
    bottom: 10%;
    right: 30%;
    background-color: red;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
}
