.Option{
    background-color: #1f1f1f;
    border-radius: 15px;
    opacity: 80%;
    width: 80vw;
    height: 12vh;
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.First, .Second, .Third{
    text-align: center;
    color: white;
    align-self: center;
    height: 90%;
    border-right: 2px solid #b4b4b4;

}
.Second{
    /*border: 2px solid green;*/
}
.Third{

}
.Fourth{
    text-align: center;
    color: white;
    align-self: center;
    height: 90%;
}

.Earn{
    /*border: 2px solid green;*/
    width: 40%;

}

.divImg{
    display: grid;
    align-content: center;
    justify-items: center;
}