.Option{
    background-color: #1f1f1f;
    border-radius: 15px;
    opacity: 80%;
    width: 80vw;
    /*height: 18vw;*/
    position: absolute;
    bottom: 6vh;
    left: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*padding: 2vw;*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    /*border: 1px solid red;*/
    padding-top: 2vw;
}

.First, .Second, .Third, .Home{
    /*border: 1px solid red;*/
    text-align: center;
    height: 90%;
    border-right: 1px solid #7e7e7e;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.Second{
    /*border: 2px solid green;*/
}
.Third{

}
.Fourth{
    text-align: center;
    color: white;
    align-content: center;
    height: 90%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.Earn{
    /*border: 2px solid green;*/
    width: 45%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

}

.divImg{
    display: grid;
    align-content: center;
    justify-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.Text{
    user-select: none;
    font-size: 3vw;
    color: white;
    padding: 1vw;
}